/*Seccion CONTACTO*/

#formulario {
    font-family: 'Pridi', serif;
    font-size: 1.2rem;
border: 1px solid #009C08;
justify-content: center;
}

#formulario div {
    padding: 0px;
    margin: 0px;
}

.wapp {
    font-family: 'Pridi', serif;
    font-size: 2rem;
    color: #ffffff;
    background-color: #009C08;
    padding: 10px;
    margin: 10px;
    justify-content: center;
}
div.wapp a {
    text-decoration: none;
    text-transform: none;
    color: #ffffff;
}