
.nav {
    justify-content: center;
}


.navegacion a:hover, .nav-link:hover {
    color: #ffffff;
    background-color: #000000;
    text-transform: none;
    text-decoration: none;
}

/* NAVEGACION */

.navegacion {
    font-family: 'Pridi', serif;
    height: 100%;
    display: flex;
    flex-direction: row; //esto viene por default
    align-items: center;
    justify-content: space-between;
    align-content: center;
    text-decoration: none;
    text-transform: none;
    padding: 10px;
}

@media (max-width:600px) {
    .navFooter {
        display: none;
        justify-content: center;
    }
}

footer a,
.barraNavegacion2 a {
    font-family: 'Pridi', serif;
    text-decoration: none;
    text-transform: none;
    color: white;
    font-size: 1rem;
    background-color: #009C08;
    margin: 2px;
    padding: 8px;
}

.iconos {
    text-decoration: none;
    text-transform: none;
    margin: 1px;
    padding: 1px;
    font-family: 'Pridi', serif;
    color: #ffffff;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: none;
}