/* Seccion PRODUCTOS*/

.imagenProducto {
    background-image: url(../media/living\ 2\ PS.png);
    background-position: center center;
    background-size: cover;
    height: 20rem;
    display: flex;
    align-items: center; 
}

.contenidoProducto {
    font-family: 'Acme', sans-serif;
 font-size: 1.8rem;
flex: 0 0 95%; 
  color: #009C08;
  text-align: center;
}

.contenidoProducto p {
background-color: #ffffff;
background-size: 95%;
filter: opacity(70%);
margin: 5px;
padding: 5px;
}

.texto {
    font-family: 'Pridi', serif;
    font-size: 1rem; 
    margin: 15px;
padding: 15px;
justify-content: space-evenly;
}


.SeccionProductos {
    padding: 15px;
    margin: 15px;
    display: flex;
    flex-flow: row;
    width: 95%;
}

.SeccionProductos div {
    width: 50%;
}

.SeccionProductos img {
    width: 300px; 
    height: 300px;
   padding: 0px;
   margin: 0px; 
}

@media (max-width:500px) {
    .imagenProducto, .contenidoProducto {
        width: 95%;
        padding: 0%;
    margin: 0%;
}  
  .SeccionProductos {
        width: 95%;
        flex-direction: column;
}
.SeccionProductos div {
width: 100%;
}
.SeccionProductos img {
    width: 100%; 
    height: 100%;
}
}

@media (max-width:1380px) {
    .SeccionProductos img {
        width: 200px !important;
        height: 200px !important;


}}