/*SECCION TIPS BOTANICOS */
.video {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-around;
    text-align: center;
}

.d-flex {
margin-left: 0px !important;
padding-left: 0px !important;
}

@media (max-width:500px) {
.d-flex {
flex-direction: column;
padding: 0rem;
margin: 0rem;
flex-wrap: wrap;
}}

video {
    max-width: 33.3%;
    padding: 20px;
    margin: 20px;
}

.flex-grow-1 {
padding: 10px;
margin: 10px;
}

.card-body {
    display: flex;
    flex-flow: row;
}

.card-body img p {
    width: 50%;
}


.card-link {
    font-family: 'Pridi', serif;
    color: #009C08;
    font-size: 1.2rem;
    text-transform: none;
    text-decoration: none;
}

.card-link:hover {
color: black;
}


.card-body p, .flex-grow-1 p {
    font-family: 'Pridi', serif;
    font-size: 1rem;
}